<h4 class="mt-5">Preencha corretamente os dados</h4>

<form (ngSubmit)="adicionarEvento()" [formGroup]="timesForm">
  <div class="form-horizontal">
    <div class="alert alert-danger" *ngIf="errors.length > 0">
      <h3 id="msgRetorno">Opa! Alguma coisa não deu certo:</h3>
      <ul>
        <li *ngFor="let error of errors">{{ error }}</li>
      </ul>
    </div>

    <div class="form-group" [ngClass]="{'has-error': displayMessage['nome']}">
      <label class="col-md-2 control-label" for="time1">Time 1</label>
      <div class="col-md-10">
        <input class="form-control" id="time1" type="text" placeholder="Time 1 (requerido)" formControlName="time1" />
        <span class="text-danger">
          <p [innerHTML]="displayMessage['nome']"></p>
        </span>
      </div>
    </div>
    <div class="login" *ngIf="isLoading">Carregando...</div>
    <div class="form-group" [ngClass]="{'has-error': displayMessage['nome']}">
      <label class="col-md-2 control-label" for="time2">Time 2</label>
      <div class="col-md-10">
        <input class="form-control" id="time2" type="text" placeholder="Time 2 (requerido)" formControlName="time2" />
        <span class="text-danger">
          <p [innerHTML]="displayMessage['nome']"></p>
        </span>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <button class="btn btn-primary" type="submit">Buscar probalidade de gols</button>
      </div>
    </div>
  </div>
</form>
<br/>
<br/>



<div *ngIf="!isLoading">
<div *ngIf="betResult" class="result-container">
  <div class="result-item">
    <span class="result-label">Probability Over 1.5:</span>
    <span class="result-value">{{ calculatedProbabilities.probabilityOver15 }}</span>
  </div>
  <div class="result-item">
    <span class="result-label">Probability Over 2.5:</span>
    <span class="result-value">{{ calculatedProbabilities.probabilityOver25 }}</span>
  </div>
  <div class="result-item">
    <span class="result-label">Probability Under 3.5:</span>
    <span class="result-value">{{ calculatedProbabilities.probabilityUnder35 }}</span>
  </div>
  <div class="result-item">
    <span class="result-label">Probability Under 4.5:</span>
    <span class="result-value">{{ calculatedProbabilities.probabilityUnder45 }}</span>
  </div>
  <div class="result-item">
    <span class="result-label">Probability Under 1.5:</span>
    <span class="result-value">{{ calculatedProbabilities.probabilityUnder15 }}</span>
  </div>
  <div class="result-item">
    <span class="result-label">Probability Over 0.5:</span>
    <span class="result-value">{{ calculatedProbabilities.probabilityOver05 }}</span>
  </div>
  <div class="result-item">
    <span class="result-label">Probability Over 3.5:</span>
    <span class="result-value">{{ calculatedProbabilities.probabilityOver35 }}</span>
  </div>
  <div class="result-item">
    <span class="result-label">Probability Over 4.5:</span>
    <span class="result-value">{{ calculatedProbabilities.probabilityOver45 }}</span>
  </div>
  <div class="result-item">
    <span class="result-label">Probability Under 2.5:</span>
    <span class="result-value">{{ calculatedProbabilities.probabilityUnder25 }}</span>
  </div>
</div>
</div>
