<div class="mt-5 ">
  <carousel>
    <slide>
      <div class="text-center py-5 bg-dark text-white">
        <h2>Bem-vindo ao nosso site de apostas</h2>
        <div class="lead">
          <h3>Aposte e ganhe prêmios incríveis</h3>
          <p>Experimente a emoção das apostas esportivas e tenha a chance de ganhar grandes prêmios.</p>
        </div>
      </div>
    </slide>
    <slide>
      <div class="text-center py-5 bg-dark  text-white">
        <h2>Aposte nos seus times favoritos</h2>
        <div class="lead">
          <h3>Desfrute de uma ampla variedade de esportes</h3>
          <p>Aposte em futebol, basquete, tênis e muito mais. Tenha diversão e emoção com nossas opções de apostas.</p>
        </div>
      </div>
    </slide>
    <slide>
      <div class="text-center py-5 bg-dark  text-white">
        <h2>Bônus exclusivos para novos jogadores</h2>
        <div class="lead">
          <h3>Ganhe bônus em suas primeiras apostas</h3>
          <p>Aproveite nossas ofertas especiais para novos jogadores e aumente suas chances de ganhar desde o início.</p>
        </div>
      </div>
    </slide>
  </carousel>

<br/>
<br/>
<table class="campeonatos-tabela">
  <thead>
    <tr>
      <th><h2>Ligas do Mundo</h2></th>
    </tr>
    <br/>
  </thead>
  <tbody>
    <tr>
      <td><a routerLink="/resultados" routerLinkActive="active" class="campeonato-link"> Campeonato Brasileiro Série A</a></td>
    </tr>
    <tr>
      <td><a routerLink="/resultados" routerLinkActive="active" class="campeonato-link">Campeonato Espanhol</a></td>
    </tr>
    <tr>
      <td><a routerLink="/resultados" routerLinkActive="active" class="campeonato-link">Campeonato Inglês</a></td>
    </tr>
    <!-- Adicione mais linhas <tr> conforme necessário -->
  </tbody>
</table>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>


