<div class="mt-5">
  <section class="hero">
    <div class="hero-overlay">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h1 class="text-white">Bem-vindo ao nosso site de apostas</h1>
            <p class="text-white">Experimente a emoção das apostas esportivas e tenha a chance de ganhar grandes prêmios apostando nos seus times favoritos.</p>
            <a href="#" class="btn btn-primary">Comece agora</a>
          </div>
          <div class="col-md-6">
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="featured-games">
    <div class="container">
      <h2 class="text-center">Ligas de Futebol</h2>
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <img src="https://th.bing.com/th/id/R.a2cc790db969833748503bcb0ffd05a6?rik=0aii3JZvWjR1jg&pid=ImgRaw&r=0" alt="Jogo 1" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Campeonato Brasileiro Série A</h5>
              <p class="card-text">Acesse as melhores previsões do campeonato aqui</p>
              <a href="#" class="btn btn-primary">Saiba mais</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <img src="https://th.bing.com/th/id/OIP.bRANZosjX7YvB3bv66jUOAHaHa?pid=ImgDet&rs=1" alt="Jogo 2" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Campeonato Espanhol</h5>
              <p class="card-text">Acesse as melhores previsões do campeonato aqui</p>
              <a href="#" class="btn btn-primary">Saiba mais</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <img src="https://th.bing.com/th/id/R.47eb03ca513b7cd597fb574776b8a612?rik=3h%2blkKR8BJswsw&pid=ImgRaw&r=0" alt="Jogo 3" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Campeonato Inglês</h5>
              <p class="card-text">Acesse as melhores previsões do campeonato aqui</p>
              <a href="#" class="btn btn-primary">Saiba mais</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>


