<footer class="footer bg-dark text-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h4>Contato</h4>
                <p>Email: contato@soccerinvestimentos.com</p>
                <p>Telefone: +55 123 456 7890</p>
            </div>
            <div class="col-lg-4">
                <h4>Siga-nos</h4>
                <ul class="social-media">
                    <li><a href="#" target="_blank"><i class="fab fa-facebook"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
            <div class="col-lg-4">
                <h4>Links</h4>
                <ul class="footer-links">
                    <li><a routerLink="/" routerLinkActive="active">Home</a></li>
                    <li><a routerLink="/apostas" routerLinkActive="active">Apostas</a></li>
                    <li><a routerLink="/resultados" routerLinkActive="active">Resultados</a></li>
                </ul>
            </div>
        </div>
        <hr>
        <p class="text-center">&copy; 2023 Soccer Investimentos. Todos os direitos reservados.</p>
    </div>
</footer>
